*.iml
.gradle
.idea
/local.properties
/.idea/misc.xml
/.idea/workspace.xml
/.idea/libraries
.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
.idea/misc.xml
.project
.settings/
cart/.project
cart/.settings/
cart/.classpath
core/.classpath
core/.project
core/.settings/
pos/.classpath
pos/.project
pos/.settings/