<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.posko.feature.login">
    
    <application android:theme="@style/PoskoAppTheme">
        <activity
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:name=".LoginActivity"/>
    </application>

</manifest>